.about-me-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.about-me-paragraph{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #232323;
}
.about-me-paragraph b{
  color: #814CBD;
}
.about-me-button{
  font-size: 18px;
  color: #000;
  background-color: rgba(129, 76, 189, 0.7);
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .1em;
}
.about-me-button:hover, .about-me-button:active{
  color:#000;
  text-decoration:none;
  background-color: rgba(129, 76, 189, 0.5);
}
.about-me-button span{
  position: relative;
  top: -11px;
}
.about-me-button span img{
  margin-left:30px;
  margin-top: -6px;
}
.about-me-image{
  background-image: url("../img/camila-astorga.jpg"); /* visible hasta 1200px (ancho max img 570px, ancho min 570px) 800px de alto aprox*/
  background-size: cover;
  background-position: center center;
}
.about-me-image-mobile{
  width: 300px;
}
@media(max-width:575px){
  .about-me-title{
    font-size: 24px;
  }
  .about-me-paragraph{
    font-size: 16px;
  }
}
