/* Nav bar */
.nav-color{
  background: #f1f0f0;
}
.navbar{
  padding-top:0;
  padding-bottom:0;
}
.navbar-light .navbar-brand {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.abbr-name{
    border-bottom: 2px solid #fddf66;
    line-height: 1;
    display: inline-block;
}
.nav-link{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding-top: 1rem;
  padding-bottom: 0.85rem;
  border-bottom: 0.15rem solid transparent;
}
.nav-link:hover,.nav-item.active .nav-link {
  border-color: #FCC900;
}
.navbar-light .navbar-toggler{
  border:0;
  padding: .25rem 0;
}
.navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:active{
  outline: none;
}
@media(max-width:575px){
  .nav-link{
    padding-left: 5px !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/*footer*/
footer{
  background-color:#E5E5E5;
}
footer .footer-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color:#000;
}
footer .github img.hover{
  display:none;
}
footer .github:hover{
  text-decoration: none;
}
footer .github:hover img{
  display:none;
}
footer .github:hover img.hover{
  display:inline-block;
}
footer .linkedin img.hover{
  display:none;
}
footer .linkedin:hover{
  text-decoration: none;
}
footer .linkedin:hover img{
  display:none;
}
footer .linkedin:hover img.hover{
  display:inline-block;
}
footer .footer-mail{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color:#000;
}
footer .footer-mail a{
  font-weight: normal;
  color:#000;
}
footer .footer-mail a:hover, footer .footer-mail a:active{
  text-decoration:none;
  color:#000;
}
@media(max-width:575px){
  footer .footer-mail{
      font-size: 16px;
  }
}
