html, body {
  color: #232323;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'Open Sans', sans-serif;
}
p, span, li, a {
  font-family: 'Roboto', sans-serif;
}

/* Nav bar */
.nav-color{
  background: #f1f0f0;
}
.navbar{
  padding-top:0;
  padding-bottom:0;
}
.navbar-light .navbar-brand {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.abbr-name{
    border-bottom: 2px solid #814CBD;
    line-height: 1;
    display: inline-block;
}
.nav-link{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding-top: 1rem;
  padding-bottom: 0.85rem;
  border-bottom: 0.15rem solid transparent;
  position: relative;
}
.nav-link:hover,.nav-item.active .nav-link {
  border-color: #814CBD;
}
.navbar-light .navbar-toggler{
  border:0;
  padding: .25rem 0;
}
.navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:active{
  outline: none;
}
@media(min-width:991px){
  .navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .navbar-expand-lg .navbar-nav .nav-item:not(:first-of-type) .nav-link{
    padding-left: calc(1.3rem + 1px);
  }
  .nav-item:not(:first-of-type) .nav-link:before{
    content: " ";
    width:1px;
    position:absolute;
    left:0;
    top:10px;
    bottom:10px;
    background-color: rgba(129, 76, 189, 0.2);
  }
}
@media(max-width:575px){
  .nav-link{
    padding-left: 5px !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/*projects*/
.shadow-bordered-image {
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
}

/*footer*/
footer{
  background-color:#A382C9;
}
footer .footer-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color:#fff;
}
footer .footer-links > div{
  display: flex;
  justify-content: center;
}
footer .footer-links a{
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-links a img{
  margin-right: 6px;
}
footer .footer-links a span{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #381362;
}
footer .footer-links a:hover span {
  text-decoration: underline;
}
footer .footer-links .middle-separator{
  /*border-left: 2px solid #fff;
  border-right: 2px solid #fff;*/
  position:relative;
}
footer .footer-links .middle-separator::before{
  position: absolute;
  content: " ";
  left: 0;
  top: 5px;
  width: 2px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
}
footer .footer-links .middle-separator::after{
  position: absolute;
  content: " ";
  right: 0;
  top: 5px;
  width: 2px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
}
footer .email img.hover{
  display:none;
}
footer .email:hover{
  text-decoration: none;
}
footer .email:hover img{
  display:none;
}
footer .email:hover img.hover{
  display:inline-block;
}
footer .linkedin img.hover{
  display:none;
}
footer .linkedin:hover{
  text-decoration: none;
}
footer .linkedin:hover img{
  display:none;
}
footer .linkedin:hover img.hover{
  display:inline-block;
}
footer .phone img.hover{
  display:none;
}
footer .phone:hover{
  text-decoration: none;
}
footer .phone:hover img{
  display:none;
}
footer .phone:hover img.hover{
  display:inline-block;
}
@media(max-width:1200px){
  footer .footer-title{
    font-size: 24px;
  }
  footer .footer-links a img{
    width: 28px;
  }
  footer .footer-links a span {
    font-size: 16px;
  }
  footer .footer-links .middle-separator::before{
    top: 3px;
    height: 20px;
  }
  footer .footer-links .middle-separator::after{
    top: 3px;
    height: 20px;
  }
}
@media(max-width:991px){
  footer .footer-title{
    font-size: 22px;
  }
  footer .footer-links .middle-separator::before{
    display: none;
  }
  footer .footer-links .middle-separator::after{
    display: none;
  }
}
@media(max-width:575px){
  footer .footer-title{
    font-size: 18px;
  }
}
