.fond-color{
  background-color: rgba(244, 244, 244, 0.5);
}
.profile-picture{
  background-image: url(../img/port1.png);
  background-size: cover;
  background-position: center bottom;
  height: 280px;
}
.photo-profile{
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  overflow: hidden;
  left:0;
  right:0;
  top:15%;
  max-width: 13%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.title-name, .description-name{
font-family:'Open Sans', sans-serif;
}

.title-name{
font-size: 36px;
text-align: center;
}

.description-name{
font-size: 24px;
text-align: center;
}
@media(max-width:575px){
  .title-name{
    font-size: 28px;
  }
  .description-name{
    font-size:18px;
  }
}
/* Main */
.title{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.title{
  display:inline-block;
  /*background-color: rgba(129, 76, 189, 0.7);
  line-height: .6;
  padding-right: 30px;
  margin-top:15px;*/
}
.title span:nth-child(4){
  font-weight: 700;
  font-size: 28px;
  /*position:relative;
  top:-12px;*/
  border-bottom: 4px solid #A382C9;
  padding-right: 15px;
  padding-left: 15px;
}
.title span:nth-child(1), .title span:nth-child(2), .title span:nth-child(3){
  font-weight: 700;
  font-size: 28px;
  margin-right: 5px;
  border-bottom: 4px solid #A382C9;
}
.title span:nth-child(5), .title span:nth-child(6), .title span:nth-child(7){
  font-weight: 700;
  font-size: 28px;
  margin-left: 5px;
  border-bottom: 4px solid #A382C9;
}
.project{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
}
.project-img{
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
}
.project-title{
  font-weight:bold;
  font-family: 'Open Sans', sans-serif;
  font-size:22px;
}
.project-description{
  font-size:22px;
}
.project-date{
  font-size:22px;
}
.project-button{
  font-size: 18px;
  color: #000;
  background-color: rgba(129, 76, 189, 0.7);
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  position: relative;
  bottom: -3px;
}
.project-button:hover, .project-button:active{
  color:#000;
  text-decoration:none;
  background-color: rgba(129, 76, 189, 0.5);
}
.project-button span{
  position: relative;
  top: -11px;
}
.project-button span img{
  margin-left:30px;
}
@media(max-width:575px){
  .project-title{
    font-size: 16px;
  }
  .project-description{
    font-size:14px;
  }
  .project-date{
    font-size:14px;
  }
  .title span:nth-child(4) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .title span:nth-child(1), .title span:nth-child(2), .title span:nth-child(3) {
    margin-right: 3px;
  }
  .title span:nth-child(5), .title span:nth-child(6), .title span:nth-child(7) {
    margin-left: 3px;
  }
  .title span{
    font-size: 5.9vw !important;
  }
}
