.fond-color{
  background-color: rgba(244, 244, 244, 0.5);
}

header h5 {
  font-size: 20px;
  color: #814CBD;
  font-weight: 700;
}
header h1 {
  font-size: 64px;
  color: #232323;
  font-weight: 700;
}
header p {
  font-size: 24px;
  color: #828282;
}

@media(max-width:1200px){
  header h1 {
    font-size: 44px;
  }
  header p {
    font-size: 20px;
  }
}
@media(max-width:992px){
  header h1 {
    font-size: 40px;
  }
  header p, header h5 {
    font-size: 18px;
  }
}
@media(max-width:769px){
  header img {
    width: 400px;
  }
}
@media(max-width:575px){
  header h1 {
    font-size: 30px;
  }
  header p, header h5 {
    font-size: 16px;
  }
  header img {
    width: 300px;
  }
}


/* Main */
.title{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.title{
  display:inline-block;
  /*background-color: rgba(129, 76, 189, 0.7);
  line-height: .6;
  padding-right: 30px;
  margin-top:15px;*/
}
.title span:nth-child(4){
  font-weight: 700;
  font-size: 28px;
  /*position:relative;
  top:-12px;*/
  border-bottom: 4px solid #A382C9;
  padding-right: 15px;
  padding-left: 15px;
}
.title span:nth-child(1), .title span:nth-child(2), .title span:nth-child(3){
  font-weight: 700;
  font-size: 28px;
  margin-right: 5px;
  border-bottom: 4px solid #A382C9;
}
.title span:nth-child(5), .title span:nth-child(6), .title span:nth-child(7){
  font-weight: 700;
  font-size: 28px;
  margin-left: 5px;
  border-bottom: 4px solid #A382C9;
}
.project{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
}
.project-img{
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 8px -3px rgba(0,0,0,0.25);
}
.project-title{
  font-weight:700;
  font-size:22px;
}
.project-description{
  font-size:22px;
}
.project-date{
  font-size:22px;
  letter-spacing: 0.1em;
}
.project-button{
  font-size: 18px;
  color: #000;
  letter-spacing: 0.1em;
  background-color: rgba(129, 76, 189, 0.7);
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  position: relative;
  bottom: -3px;
}
.project-button:hover, .project-button:active{
  color:#000;
  text-decoration:none;
  background-color: rgba(129, 76, 189, 0.5);
}
.project-button span{
  position: relative;
  top: -11px;
}
.project-button span img{
  margin-left:30px;
}
@media(max-width:575px){
  .project-title{
    font-size: 16px;
  }
  .project-description{
    font-size:14px;
  }
  .project-date{
    font-size:14px;
  }
  .title span:nth-child(4) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .title span:nth-child(1), .title span:nth-child(2), .title span:nth-child(3) {
    margin-right: 3px;
  }
  .title span:nth-child(5), .title span:nth-child(6), .title span:nth-child(7) {
    margin-left: 3px;
  }
  .title span{
    font-size: 5.9vw !important;
  }
}
