.nav-color{
  background: #F5F5F5;
}

.nav-link{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

a:hover {
  background-color: #FCC900;
}

.fond-color{
  background: rgba(196, 196, 196, 0.7);
}

.photo-profile{
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  overflow: hidden;
  left:0;
  right:0;
  top:15%;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.title-name, .description-name{
font-family:'Open Sans', sans-serif
}

.title-name{
font-size: 36px;
text-align: center;
}
.description-name{
font-size: 24px;
text-align: center;
}
